<hr>
<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
        <img class="mb-4" src="/assets/logo_damagify.png" alt="" width="72" height="57">
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
          </div>
          <p>E-Mail</p>
          <div class="form-floating mb-3">
            <input type="email" formControlName="email" id="floatingInput" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">E-mail eingeben</label>
          </div>
          <p>Password</p>
          <div class="form-floating">
            <input type="password" class="form-control" formControlName="password" id="floatingPassword" class="form-control" placeholder="Password">
            <label for="floatingPassword">Password eingeben</label>
          </div>
         <div class="checkbox mb-3">
  </div>
  <button style="background-color: #00CE7F;"
  class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="5a0sq">Login</button>
        </form>
        <hr>
        <button  class="w-100 btn btn-lg btn-primary" (click)="getUsers()">Liste</button>
  </div>
 
   
</div>
