
<div class="container-fluid p-5 mb-5" style="height: 70px">
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid" style="background-color: #00CE7F">
            <img class=" align-content-center mt-3 mb-3" src="/assets/logo_damagify_text.png" alt="" height="40">
        <h6 style="color:beige">Übersicht</h6>
            <button style="background-color: whitesmoke; color:black; height: 35px;" class="btn btn" routerLink="/login"
         >LOGOUT</button>
        </div>
    </nav>
  </div>
  
<div class="container text-center border" style="width: 700px;">
    <h5 class="mt-4">Fall ID: #235-234-643</h5>
    <form action="" class="m-4">
        <select style="width: 625px;" class="form-select mb-3" aria-label=".form-select-lg example">
            <option selected>Objekt wählen</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <div class="row mb-4">
            <div class="col">
                <input type="text" class="form-control" placeholder="Datum wählen" aria-label="Datum wählen">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Uhrzeit wählen" aria-label="Uhrzeit wählen">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <input type="text" class="form-control" placeholder="Name Verfasser:in" aria-label="Name Verfasser:in">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Vorname Verfasser:in"
                    aria-label="Vorname Verfasser:in">
            </div>
        </div>

        <div class="form-floating mb-3">
             <input type="text" class="form-control" style="height: 100px" >
            <label for="floatingTextarea2">Schadensbeschrieb</label>
        </div>
        <div class="form-floating mb-3">
            <input style="height: 100px" type="text" class="form-control">
            <label for="floatingTextarea2">Ausmass und Schadensursache</label>
            
        </div>
        <div class="form-floating mb-3">
            <input style="height: 100px" type="text" class="form-control">
            <label for="floatingTextarea2">Behebung und Trocknung
                
            </label>
            
            
        </div>
        <div class="mb-3 border" style="height: 55px;">
            <button type="button" class="btn btn mt-2" style="width: 150px; background-color: silver;" >Bild hochladen</button>
        </div>

        <select class="form-select mb-3" aria-label=".form-select-lg example">
            <option selected>Status auswählen</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="example-button-row" style="text-align: right;">
            <button type="button" class="btn btn-outline-danger m-2" style="width: 150px;">Abbrechen</button>
            <button type="button" class="btn btn-outline-danger" style="width:150px; background-color: rgb(199, 31, 59); color: white;">Speichern</button>
        </div>
    </form>
</div>
   